<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Board">
    <insert id="save" parameterType="board">
        INSERT INTO board_table(boardTitle, boardWriter, boardContents, boardPassword)
        values (#{boardTitle}, #{boardWriter}, #{boardContents}, #{boardPassword})
    </insert>
    <select id="findAll" resultType="board">
        SELECT * FROM board_table;
    </select>
    <select id="findById" resultType="board">
        SELECT * FROM board_table
        where id=#{id}
    </select>
    <update id="update" parameterType="Long">
        UPDATE board_table
        SET boardHits = #{boardHits} + 1
        WHERE id = #{id}
    </update>
</mapper>









