<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardWriter, boardPassword, boardTitle, boardContents, fileAttached)
        values (#{boardWriter}, #{boardPassword}, #{boardTitle}, #{boardContents}, #{fileAttached})
    </insert>
<!--    <insert id="save" parameterType="board" -->
<!--        INSERT INTO board_table(boardTitle, boardWriter, boardContents, boardPassword)-->
<!--        values (#{boardTitle}, #{boardWriter}, #{boardContents}, #{boardPassword})-->
<!--    </insert>-->
    <insert id="saveFile" parameterType="boardFile">
        INSERT INTO board_file_table(originalFileName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{boardId})
    </insert>
    <select id="findAll" resultType="board">
        SELECT * FROM board_table;
    </select>
    <select id="findById" resultType="board">
        SELECT * FROM board_table
        where id=#{id}
    </select>
    <update id="update" parameterType="Long">
        UPDATE board_table
        SET boardHits = boardHits + 1
        WHERE id = #{id}
    </update>
    <select id="total" resultType="Long">
        SELECT COUNT(*) cnt FROM board_table;
    </select>
</mapper>
