<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Comment">
    <insert id="save" parameterType="comment">
        INSERT INTO comment_table(commentWriter, commentText, boardId)
        VALUES (#{commentWriter}, #{commentText}, #{boardId})
    </insert>
    <select id="findAll" parameterType="Long" resultType="comment">
        select id, commentWriter, commentText,
               date_format(createdAt, "%y-%m-%d %H:%i:%s") as createdAt, boardId
        from comment_table where boardId = #{boardId} order by id desc
    </select>
</mapper>
