<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 반드시 작성! -->
<mapper namespace="Member">
    <insert id="save" parameterType="member">
        INSERT INTO member_table(memberEmail, memberPassword, memberName, memberMobile)
            values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile})
    </insert>
    <select id="findAll" resultType="member">
        SELECT * FROM member_table
    </select>
    <delete id="delete" parameterType="member">
        DELETE FROM member_table where id = #{id}
    </delete>
    <select id="memberOne" resultType="member">
        SELECT * FROM member_table WHERE id = #{id}
    </select>
    <update id="updateApp" parameterType="member">
        UPDATE member_table
        SET memberEmail=#{memberEmail}, memberPassword=#{memberPassword}, memberName=#{memberName}, memberMobile=#{memberMobile}
        WHERE id = #{id}
    </update>

</mapper>









